.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Icon{
  width: 320px;
}

.Card{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
}

.Error{
  color: red;
  font-size: 10px;
}
